<h1>Edit Resume</h1>

<%= form_for(@resume) do |f| %>
<%= f.label "Bio: " %>
<%= f.text_area :bio %><br><br>
<h3>Skills</h3>
<%= f.fields_for :skills, @resume.skills.build do |skills_form| %>
    <%= skills_form.label "Skill: " %>
    <%= skills_form.text_field :name %>
<% end %>
  <h3>Education</h3>
  <%= f.fields_for :educations, @resume.educations.build do |education_form| %>
  <%= education_form.label "School: " %>
  <%= education_form.text_field :school %>
  <%= education_form.label "Degree: "%>
  <%= education_form.text_field :degree %>
  <%= education_form.label "Grad Year: " %>
  <%= education_form.number_field :grad_year %>
<% end %>

<h3>Job History</h3>
<%= f.fields_for :job_histories, @resume.job_histories.build do |job_history_form| %>
<%= job_history_form.label "Company: " %>
<%= job_history_form.text_field :company %>
<%= job_history_form.label "Position: " %>
<%= job_history_form.text_field :position %>
<br>
<%= job_history_form.label "Start Date: " %>
<%= job_history_form.date_select :start_date %>
<%= job_history_form.label "End Date: " %>
<%= job_history_form.date_select :end_date %>
<br>
<br>
<br>
<%= job_history_form.label "Company: " %>
<%= job_history_form.text_field :company %>
<%= job_history_form.label "Position: " %>
<%= job_history_form.text_field :position %>
<br>
<%= job_history_form.label "Start Date: " %>
<%= job_history_form.date_select :start_date %>
<%= job_history_form.label "End Date: " %>
<%= job_history_form.date_select :end_date %>

<% end %><br><br>

<%= f.submit "Finished"%>
<% end %>
