<h1>Resume Builder</h1>

<%= form_for(@resume) do |f| %>
<%= f.label "Bio: " %>
<%= f.text_area :bio %><br><br>
<%= f.fields_for :skills, @user.resumes.build.skills.build do |skills_form| %>
<h3>Skills</h3>

<% languages = ["python", "ruby", "javascript", "react", "C#", "Rust", "Rails", "Sinatra"] %>

  <% languages.each do |language| %><br>
    <%= skills_form.label language %>
    <%= skills_form.check_box :name, {multiple: true}, language, false%>
  <% end %>
  <%= resume_form.fields_for :educations, @user.resumes.build.educations.build do |educations_form| %>
  <h3>Education</h3>

<% end %>
<% end %><br><br>

<%= f.submit "Register"%>
<% end %>
